html {
    font-size: 14px;
}

.hro-section {
    background-image: url("../Images/pattern-bg-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    height:370px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .hro-section {
        background-image: url("../Images/pattern-bg-desktop.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
